@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,700&display=swap');
body{
    margin: 0;
}
.component-login{
    background-color: #e8e8e8;
}
.component-login .left-side{
    width: 50%;
    height: 100vH;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/login-img.svg');
    display: inline-block;
}
.component-login section:last-child{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.component-login .login-box input{
    height: 40px;
    border: 1px solid #000000;
    background-color: #f5f5f5;
    display: block;
    width: 100%;
}
.component-login .login-box label{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    display: block;
    width: 100%;
}
.component-login .login-box button{
    display: block;
    background-color: #44a80a;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    border: none;
    border-radius: 0;
    padding: 15px;
    font-weight: 900;
    text-transform: uppercase;
    width: 222px;
    margin: 0;
    margin-top: 25px;
    float: right;
}
header{
    padding: 0 150px;
    height: 75px;
    background-color: #000000;
}
header .home a {
    font-size: 30px;
    color: #a1a1a1;
    margin-top: 17px;
    display: inline-block;
    text-decoration: none;
}
header button{
    background-color: #e41b13;
    border: 0;
    border-radius: 5px;
    float: right;
    color: #ffffff;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 25px;
    margin-top: 17px;
}
.pagination {
    margin-top: 25px;
}
.pagination span {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #a1a1a1;
}

.pagination span.active {
  background-color: #0099FF;
  color: white;
  border: 1px solid #0099FF;
}
.container {
    max-width: 1280px;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
}
.container > span{
    font-size: 22px;
    font-weight: 700;
    margin-right: 30px;
}
.container .pagination-buttons {
    display: inline-block;
}
.container .pagination-buttons span{
    font-size: 20px;
    border: 1px solid #000000;
    padding: 5px;
    margin-left: 30px;
    cursor: pointer;
}
.container .search-box{
    float: right;
}
.client-list {
    list-style: none;
    padding: 0;
}
.client-list .client{
    margin-top: 35px;
    text-align: center;
    width: 25%;
    height: 150px;
    display: inline-block;
}
.container.single-client .ficha img{
    float: left;
}
.container.single-client .datos{
    display: inline-block;
    width: 500px;
    margin-left: 50px
}
.container.single-client .ficha{
    padding: 40px;
    background-color: #e8e8e8;
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
}
.container.single-client .ficha > div:last-child{
    float: right;
}
.container.single-client .ficha > div:last-child span{
    padding: 3px;
    border: 1px solid #000000;
    margin: 5px;
}